<!DOCTYPE html>
<html>
    <head>
             <link rel="stylesheet" href="./css/style.css">    <!-- ./ to get the relative path, to get the absolute path use /xyz , this will take you to root of the harddisk but as when this will be hosted on the browser it will not find harddrive, and check webserver root which we have set as assets here absolute path= /css/style.css-->
    </head>
    <body>
        {{>header}}
       <img src="/img/me.png"/></body><br/>
       <p1>created by {{name}}</p1>
       {{>footer}}
    </body>
</html>