h1{
    color: black;
}

img{
    width: 250px;
}

div a{
    text-decoration: none; 
    color: #888888;
    margin-right: 10px;
    font-size: 1.2rem;
}

div p{
    margin-top: 10px;
}


.content{
    
    margin: auto;
    
}  

form{
    margin: auto;
    
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    color: white;   
    background: #888888;
}